body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://project-bucket-be.s3.ap-south-1.amazonaws.com/cool-background_1.png);
    background-size: cover;
}

label {
    margin: 5px;
}

button {
    margin:0 10px !important;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .6em;
    font-size: 30px;
    text-align: center;
}

.data-table {
    width: 75vw;
    overflow-y: scroll;
    height:max-content;
    max-height: 60vh;
}

@media only screen and (max-width: 600px) {
    .data-table {
        width: 92vw !important;
        overflow-y: scroll;
        height:max-content;
        max-height: 60vh;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0em;
        font-size: 1.2em;
        text-align: center;
    }
  }

.fa-download {
    margin:20px;
}

#search-form {
    display: flex;
    flex-direction: row;
}

#search-input {
    font-size:25px;
}
